 <section class="how-it-works" id="how-it-works">
      <h3 class="visually-hidden">How It Works</h3>
      <div class="how-container">
        <div class="how-left">
          <img src="../img/meyvekesme/kesme.jpg" alt="Kadın mutfakta meyve kesiyor" class="how-image">
        </div>
        <div class="how-right">
          <h3 class="how-title">
            TO ORDER YOUR <span>VEGETABLE</span> BASKET, SIMPLY FOLLOW THESE<span> EASY STEPS</span>
          </h3>
          <p>Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit without ever leaving your home.</p>
          <ol class="how-steps">
            <li class="how-li">
              <p>just choose<strong> the vegetable </strong>you want to order by clicking on the checkboxes<strong> next to it </strong></p>
              </li>
            <li class="how-li">
              <p>Click on<strong> the basket </strong>and fill out the form.</p>
              </li>
            <li class="how-li">
            <p>sit back and relax! Your<strong> fresh vegetables </strong> basket will be delivered.</p>
            </li>
          </ol>
        </div>
      </section>