<!-- Vegetables Start -->
<section class="vegetables" id="vegetables">
  <div class="container">
    <div class="sec-head">
      <h2 class="sec-heading">
        Organic <span class="veg-span">vegetables</span>
      </h2>
      <p class="veg-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>

    <ul class="veg-list">
      <li class="veg-item">
        <h3 class="item-heading">Eggplant</h3>
        <p class="item-text">60 USD / kg</p>
        <img
          srcset="
            img/meyveler/patlican.jpg   1x,
            img/meyveler/patlican@2.jpg 2x
          "
          src="img/meyveler/patlican.jpg"
          alt="Eggplant"
          loading="lazy"
          decoding="async"
        />
      </li>
      <li class="veg-item">
        <h3 class="item-heading">Leek</h3>
        <p class="item-text">50 USD / kg</p>
        <img
          srcset="
            img/meyveler/ispanak.jpg   1x,
            img/meyveler/ispanak@2.jpg 2x
          "
          src="img/meyveler/ispanak.jpg"
          alt="Leek"
          loading="lazy"
          decoding="async"
        />
      </li>
      <li class="veg-item">
        <h3 class="item-heading">Mushrooms</h3>
        <p class="item-text">40 USD / kg</p>
        <img
          srcset="
            img/meyveler/mantar.jpg   1x,
            img/meyveler/mantar@2.jpg 2x
          "
          src="img/meyveler/mantar.jpg"
          alt="Mushrooms"
          loading="lazy"
          decoding="async"
        />
      </li>
      <li class="veg-item">
        <h3 class="item-heading">Corn</h3>
        <p class="item-text">60 USD / kg</p>
        <img
          srcset="img/meyveler/misir.jpg 1x, img/meyveler/misir@2.jpg 2x"
          src="img/meyveler/misir.jpg"
          alt="Corn"
          loading="lazy"
          decoding="async"
        />
      </li>
      <li class="veg-item">
        <h3 class="item-heading">Sweet potatoes</h3>
        <p class="item-text">50 USD / kg</p>
        <img
          srcset="img/meyveler/turp.jpg 1x, img/meyveler/turp@2.jpg 2x"
          src="img/meyveler/turp.jpg"
          alt="Sweet potatoes"
          loading="lazy"
          decoding="async"
        />
      </li>
      <li class="veg-item">
        <h3 class="item-heading">Carrot</h3>
        <p class="item-text">40 USD / kg</p>
        <img
          srcset="img/meyveler/havuc.jpg 1x, img/meyveler/havuc@2.jpg 2x"
          src="img/meyveler/havuc.jpg"
          alt="Carrot"
          loading="lazy"
          decoding="async"
        />
      </li>
    </ul>
  </div>
</section>
<!-- Vegetables End -->
