<section id="your-order">
  <div class="container">
    <div class="your-order-wrapper">
      <div id="header-card" class="your-order-card color-white">
        <div class="card-wrapper">
          <h2 class="uppercase title-two">
            Fresh <span class="color-accent">Harvest</span> Box has got you
            covered
          </h2>
          <p class="body-one">
            Our boxes are packed with delicious, nutritious vegetables, perfect
            for anyone looking to eat healthier or support local farmers. Order
            your box today and start enjoying the best that nature has to offer!
          </p>
        </div>
      </div>
      <div class="card-wrapper-outer">
        <div id="form-card" class="your-order-card bg-color-white">
          <div class="card-wrapper">
            <h3 class="uppercase title-three color-black">
              Ordering <span class="color-primary">from us</span> is quick and
              easy! Fill out <span class="color-green">the form</span> below and
              we will contact you !
            </h3>
            <form name="your-order-form">
              <input
                type="text"
                name="full-name"
                placeholder="Full Name"
                class="body-one"
                required
              />
              <input
                type="email"
                name="email"
                placeholder="Email"
                class="body-one"
                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                required
              />
              <textarea
                name="comment"
                placeholder="Comment"
                class="body-one"
              ></textarea>
              <button
                type="submit"
                class="uppercase bg-color-primary color-white accent-text"
              >
                Send
              </button>
            </form>
          </div>
        </div>
        <div
          id="social-card"
          class="your-order-card bg-color-primary color-white"
        >
          <div class="card-wrapper">
            <div class="your-order-image"></div>
            <div class="social-wrapper">
              <p class="body-two color-accent">
                Follow us on our social networks:
              </p>
              <ul class="uppercase accent-text">
                <li>
                  <a
                    target="_blank"
                    href="https://www.instagram.com/goit.turkiye/"
                    >Instagram</a
                  >
                </li>
                <span>/</span>
                <li>
                  <a
                    target="_blank"
                    href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"
                    >Facebook</a
                  >
                </li>
                <span>/</span>
                <li>
                  <a target="_blank" href="https://m.youtube.com/@GoITTurkey"
                    >Youtube</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
