/* Reviews */
.reviews {
  padding: 100px 0;
  background: var(--color-white);
  color: var(--color-black);
}

@media (min-width: 1280px) {
  .reviews .container {
    padding: 0 100px;
  }
}

.reviews .sec-head {
  max-width: 556px;
}

.reviews-heading {
  letter-spacing: -1.5%;
}

.reviews-span {
  color: var(--color-green);
}

.review-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.review-list {
  margin: 52px 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 344px);
  gap: 24px;
}

.review-item {
  width: 344px;
  min-height: 248px;
  border-radius: 24px;
  border: 1px solid var(--color-accent);
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.review-item img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.rev-item-head {
  margin: 24px 0 8px;
  color: var(--color-black);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.27px;
}

.rev-item-text {
  margin: 0;
  color: var(--color-grey);
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.review-item:hover {
  border-color: var(--color-primary);
  box-shadow: 0 8px 18px rgba(20, 20, 20, 0.08);
}
